@model PF6_Team4_Core.Models.RewardPackage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RewardPackage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAmountRoGetReward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxAmountRoGetReward)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardPackageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardPackageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RewardPackageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
