@model IEnumerable<PF6_Team4_Alkiviadis.Models.RewardPackage>


@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<h1>RewardPackage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxAmountRoGetReward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardPackageId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxAmountRoGetReward)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RewardDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RewardPackageId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RewardPackageId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RewardPackageId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RewardPackageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
